<h1>Listing sprints</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Inicio</th>
    <th>Fim</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sprints.each do |sprint| %>
  <tr>
    <td><%= sprint.nome %></td>
    <td><%= sprint.descricao %></td>
    <td><%= sprint.inicio %></td>
    <td><%= sprint.fim %></td>
    <td><%= link_to 'Show', sprint %></td>
    <td><%= link_to 'Edit', edit_sprint_path(sprint) %></td>
    <td><%= link_to 'Destroy', sprint, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sprint', new_sprint_path %>
