<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @sprint.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @sprint.descricao %>
</p>

<p>
  <b>Inicio:</b>
  <%= @sprint.inicio %>
</p>

<p>
  <b>Fim:</b>
  <%= @sprint.fim %>
</p>


<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
